{% extends "account/base.html" %}

{% load widget_tweaks %}

{% load i18n %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1 class="text-center mt-4 mb-4">{% trans "Sign In" %}</h1>

<form class="login_form" id="login_form" method="post" action="{% url 'account_login' %}">

  {% csrf_token %}
  <input type="hidden" name="remember" value="true" />
  <div class="form_contailer">
    <div class="mb-3">
      {{ form.email.errors | safe }}
      <label for="email" class="form-label">Username</label>
      {% render_field form.login class="form-control" %}
    </div>
    <div class="mb-3">
      {{ form.password1.errors | safe }}
      <label for="id_password1" class="form-label">Password</label>
      {% render_field form.password class="form-control" %}
    </div>
    {{ form.non_field_errors | safe }}
  </div>

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p class="text-center">
  <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
  <div class="button_block">
    <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
    <p class='mb-0'>or</p>
    <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Sign Up</a>
  </div>
</form>

{% endblock %}
