<div class="container mt-3 mb-3">
    {% extends "account/base.html" %}

        {% block content %}
        <div class="container">
            <h1>Welcome to your profile page</h1>

            <h1 class="fs-1">Menu:</h1>
            <ul class="link_group_css_style">
            {% if user.is_authenticated %}
            <li><a class="link-primary" href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a class="link-primary" href="{% url 'account_logout' %}">Sign Out</a></li>
            {% endif %}
        </div>
        {% endblock %}
</div>
