{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}


{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<h1 class="text-center mt-4 mb-4">{% trans "Sign Up" %}</h1>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

  {% csrf_token %}
  {{ form.non_field_errors | safe }}
  <input type="hidden" name="remember" value="true" />
  <div class="form_contailer">
    <div class="mb-3">
      {{ form.username.errors | safe }}
      <label for="username" class="form-label">Username</label>
      {% render_field form.username class="form-control" %}
    </div>
    <div class="mb-3">
      {{ form.email.errors | safe }}
      <label for="email" class="form-label">Email</label>
      {% render_field form.email class="form-control" %}
    </div>
    <div class="mb-3">
      {{ form.password1.errors | safe }}
      <label for="id_password1" class="form-label">Password</label>
      {% render_field form.password1 class="form-control" %}
    </div>
    <div class="mb-3">
      {{ form.password2.errors | safe }}
      <label for="password2" class="form-label">Password</label>
      {% render_field form.password2 class="form-control" %}
    </div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="button_block">
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>

{% endblock %}
