{% extends 'landing/base.html' %}

{% block content %}
    <div class="container mt-3 mb-3">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-sm-12 text-center">
                <h1 class="display-2">Connect With Your Friends!</h1>
                <p class="mt-3 lead">People who interest you.</p>
                <div class="d-flex justify-content-center mt-5 gap-4">
                    <a href="{% url 'account_login' %}" class="btn btn-light mt-2">Login</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-dark mt-2">Register</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
