{% load custom_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"
      {% if user.is_authenticated %}
      href="{% url 'post-list' %}"
      {% else %}
      href="{% url 'index' %}"
      {% endif %}
      >Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex gap-3">
          <form class="d-flex w-100" method="GET" action="{% url 'profile-search' %}">
              <div class="d-flex gap-3">
                <div class="input-group mr-3">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                  aria-describedly="basic-addon1" name="query" value="{{ request.GET.query }}"></input>
                  <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
          </form>
          <div class="input-group">
            {% if user.is_authenticated %}
              <a class="user_profile_link" href="{% url 'profile-page' request.user.profile.pk %}">
                <span class="input-group-text" id="basic-addon1">Profile</span>
              </a>
              <a class="btn btn-dark rounded mx-3" href="/accounts/logout/">Log Out</a>
              <div class="nav-item">
                {% show_notifications %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</nav>
