.link_group_css_style {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-left: 0rem;
    margin-top: 3rem;
}

.local {
    color: brown;
}

.form_contailer {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.button_block {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.image_block {
    max-width: 100px;
}

.errorlist  {
    list-style: none;
    padding: 0px;
}

.errorlist li {
    color: red;
}

.form_controll {
    width: 100%;
    background-color: aqua;
}

.user_profile_link {
    text-decoration: none;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover
}

.child-comment {
    margin-left: 2rem;
}

.notification-badge {
    transition: 0.3s;
}

.notification-badge:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 48px;
    right: 0;
    background-color: #f1f1f1;
    min-width: 300px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 0.9rem;
}

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-item-parent {
    position: relative;
    display: block;
}

.dropdown-item-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover {
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer;
}

.post-image {
    max-width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    object-fit: cover
}
