{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'profile-page' profile.pk %}" class="btn btn-light">Back to feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 d-flex gap-4">
            {% if profile.name %}
                <h3>Followers for {{ profile.name }} - </h3>
            {% else %}
                <h3>Followers for @{{ profile.user.username }} - </h3>
            {% endif %}
            <h3>{{ followers.all.count }}</h3>
        </div>
    </div>

    {% for follower in followers %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 border-bottom position-relative my-3">
            <a class="user_profile_link" href="{% url 'profile-page' follower.profile.pk %}">
                <img class="profile-image" src="{{ follower.profile.picture.url }}"></img>
            </a>
            <a href="{% url 'profile-page' follower.profile.pk %}"><h5 class="mt-3">@{{ follower.username }}</h5></a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
