{% extends 'landing/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-detail' object.pk %}" class="btn btn-light">Back to post</a>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h5>Update your post!</h5>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% render_field form.body class="form-control mb-3" %}
                    {% render_field form.image class="form-control mb-3" %}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Submit!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
