{% extends 'landing/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h5>Add a post!</h5>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% render_field form.body class="form-control mb-3" %}
                    {% render_field form.image class="form-control mb-3" %}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Submit!</button>
                    </div>
                </form>
            </div>
        </div>

        {% for post in post_list %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <p><a href="{% url 'profile-page' post.author.profile.pk %}" style="text-decoration:none;">@{{ post.author }}</a></p>
                <div class="position-relative">
                    {% if post.image %}
                        <img src="{{ post.image.url}}" class="post-image" />
                    {% endif %}
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <p>{{ post.created_at }}</p>
                <div class="d-flex flex-row gap-3 mb-3">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="btn btn-light" type="submit"><i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i></button>
                    </form>
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="btn btn-light" type="submit"><i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i></button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
