{% extends 'landing/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-detail' object.pk %}" class="btn btn-light">Back to post</a>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    <h5>Are you sure?</h5>
                    <p>You are about to delete this post.</p>
                    <div class="gap-2">
                        <button class="btn btn-danger" type="submit">I am sure!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
