{% extends 'landing/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-light">Back to feed</a>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <div>
                    {% if post.image %}
                        <img src="{{ post.image.url}}" class="post-image" />
                    {% endif %}
                    <p><strong>{{ post.body }}</strong></p>
                </div>
                <div class="d-flex gap-5">
                    <div class="d-flex gap-4">
                        {% if request.user == post.author %}
                            <a href={% url 'post-edit' post.pk %} style="color: #333;"><i class="far fa-edit"></i></a>
                            <a href={% url 'post-delete' post.pk %} style="color: #333;"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                </div>
                <p>{{ post.created_at }}</p>
                <div class="d-flex flex-row gap-3 mb-3">
                    <form method="POST" action="{% url 'like' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="btn btn-light" type="submit"><i class="far fa-thumbs-up"> <span>{{ post.likes.all.count }}</span></i></button>
                    </form>
                    <form method="POST" action="{% url 'dislike' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <button class="btn btn-light" type="submit"><i class="far fa-thumbs-down"> <span>{{ post.dislikes.all.count }}</span></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-5 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    {% render_field form.comment class="form-control mb-3" %}
                    <div class="gap-2">
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </div>
                </form>
            </div>
        </div>
        {% for comment in comments %}
        {% if comment.is_parent %}
            <div class="row justify-content-center mt-3 mt-5">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <div class="d-flex gap-4">
                        <p>{{ comment.comment }}</p>
                        {% if request.user == comment.author or request.user == post.author %}
                            <a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                    <div class="d-flex gap-4">
                        <p>{{ comment.created_at }}</p>
                        <p><strong>{{ comment.author }}</strong></p>
                    </div>

                    <div class="d-flex flex-row gap-3 mb-3">
                        <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-light" type="submit"><i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i></button>
                        </form>
                        <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button class="btn btn-light" type="submit"><i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i></button>
                        </form>

                        <div>
                            <button class="btn btn-light" onclick="commentReplyToggle('{{ comment.pk }}')"><i class="far fa-comment-dots"></i></button>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
                <div class="col-md-5 col-sm-12">
                    <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                        {% csrf_token %}
                        {% render_field form.comment class="form-control mb-3" %}
                        <div class="gap-2">
                            <button class="btn btn-primary" type="submit">Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        {% for child_comment in comment.children %}
            <div class="row justify-content-center mt-3 mb-5 child-comment">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <div>
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'profile-page' child_comment.author.profile.pk %}">
                                <img class="profile-image" src="{{ child_comment.author.profile.picture.url }}"></img>
                            </a>
                            <p class="post-text">
                                <a class="text-primary user_profile_link" href="{% url 'profile-page' child_comment.author.profile.pk %}">
                                    @{{ child_comment.author }}
                                </a>
                                {{ comment.created_at }}
                                {% if request.user == child_comment.author %}
                                    <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit-color">
                                        <i class="fas fa-trash" style="color: #333;"></i>
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                        <p>{{ child_comment.comment }}</p>
                        <div class="d-flex gap-3 mb-3">
                            <form method="POST" action="{% url 'comment-like' post.pk comment.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-light" type="submit"><i class="far fa-thumbs-up"> <span>{{ comment.likes.all.count }}</span></i></button>
                            </form>
                            <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-light" type="submit"><i class="far fa-thumbs-down"> <span>{{ comment.dislikes.all.count }}</span></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
{% endblock %}
