{% extends 'landing/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-5 col-sm-6">
                <a href="{% url 'profile-page' object.pk %}" class="btn btn-light">Back to profile</a>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <h5>Update your profile!</h5>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label class="form-label">Name</label>
                    {% render_field form.name class="form-control mb-3" %}
                    <label class="form-label">Bio</label>
                    {% render_field form.bio class="form-control mb-3" %}
                    <label class="form-label">Birthday</label>
                    {% render_field form.birth_date type="date" class="form-control mb-3" %}
                    <label class="form-label">Location</label>
                    {% render_field form.location class="form-control mb-3" %}
                    <label class="form-label">Avatar</label>
                    {% render_field form.picture class="form-control mb-3" %}

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary mb-5" type="submit">Submit!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
