{% extends 'landing/base.html' %}

{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-light">Back to feed</a>
            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">
                <img src="{{ profile.picture.url }}" class="profile-image" width="100" height="100" />
                {% if profile.name %}
                    <h3 class="py-4">{{ profile.name }}</h3>
                {% else %}
                    <h3 class="py-4">{{ user.email }}</h3>
                {% endif %}
                {% if profile.location %}
                    <p>{{ profile.location }}</p>
                {% endif %}
                {% if profile.birth_day %}
                    <p>{{ profile.birth_day }}</p>
                {% endif %}
                {% if profile.bio %}
                    <p>{{ profile.bio }}</p>
                {% endif %}
                <span>
                    {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" class="btn btn-primary mb-3" style="color: #fff;">
                            <i class="far fa-edit"></i>
                        </a>
                    {% endif %}
                </span>
                <div class="mb-3">
                    <a href="{% url 'list-followers' profile.pk %}" class="user_profile_link">Followers: {{ number_of_followers }}</a>
                    {% if user == request.user %}
                    {% else %}
                        {% if is_following %}
                            <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Unfollow</button>
                            </form>
                        {% else %}
                            <form method="POST" action="{% url 'add-follower' profile.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit">Follow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>


        </div>

        {% for post in posts %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 border-bottom">
                <p><a href="{% url 'profile-page' post.author.profile.pk %}" style="text-decoration:none;">@{{ post.author }}</a></p>
                <div class="position-relative">
                    {% if post.image %}
                        <img src="{{ post.image.url}}" class="post-image" />
                    {% endif %}
                    <p>{{ post.body }}</p>
                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
                <p>{{ post.created_at }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
