{% extends 'landing/base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'post-list' %}" class="btn btn-light">Back to feed</a>
            </div>
        </div>

        {% for profile in profile_list %}
        <div class="row justify-content-center mt-5">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <div class="row justify-center mt-3">
                    <div class="col-mb-5 col-sm-12 bprder-bottom mb-3 position-relative d-flex gap-3">
                        <div class="image-side">
                            <img src="{{ profile.picture.url }}" class="profile-image"/>
                        </div>
                        <div class="info-side">
                            <p><a href="{% url 'profile-page' profile.pk %}" class="btn btn-outline-primary">@{{ profile.user }}</a></p>
                            {% if profile.location %}
                                <p>{{ profile.location }}</p>
                            {% endif %}
                            <p>Followers: {{ profile.followers.all.count }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
