<div class="dropdown">
    <span class="badge bg-primary notification-badge" onclick="showNotification()">{{ notifications.count }}</span>
    <div class="dropdown-content d-none" id="notification-container">
        {% for notification in notifications %}
            {% if notification.post %}
                {% if notification.notification_type == 1 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{ notification.from_user }} liked your post</a>
                        <span class="dropdown-item-close" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
                    </div>
                {% elif notification.notification_type == 2 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{ notification.from_user }} comment on your post</a>
                        <span class="dropdown-item-close" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
                    </div>
                {% endif %}
            {% elif notification.comment %}
                {% if notification.notification_type == 1 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.from_user }} liked your comment</a>
                        <span class="dropdown-item-close" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
                    </div>
                {% elif notification.notification_type == 2 %}
                    <div class="dropdown-item-parent">
                        <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{ notification.from_user }} replied to your comment</a>
                        <span class="dropdown-item-close" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
                    </div>
                {% endif %}
            {% else %}
                <div class="dropdown-item-parent">
                    <a href="{% url 'follow-notification' notification.pk notification.from_user.profile.pk %}">@{{ notification.from_user }} has started following you</a>
                    <span class="dropdown-item-close" onclick="removeNotification(`{% url 'remove-notification' notification.pk %}`, `{{ request.path }}`)">&times;</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
